@import url(styles/header.css);
:root{
--cor-de-fundo: #323232ee;
--cor-cabecalho:rgb(72, 255, 0);
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

header{
    background-color: var(--cor-cabecalho);
}