@import url(styles/header.css);
:root{
--cor-de-fundo: #f4cc1c;
--cor-cabecalho:rgb(255, 236, 166);
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

header{
    background-color: var(--cor-cabecalho);
}